html {
    box-sizing: border-box;
}

*,
*::after *::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: black;

}

body {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color:#111;
    background-image: url(/img/back-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


 .main-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
 }
 .header-list {
    display: flex;
 }

 .header-link {
    margin-right: 80px;
    font-size: 18px;
    line-height: 70px;
 }

 .open {
    margin-left: 70px;
    font-size: 18px;
    line-height: 70px;

 }

 .logo-beard_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 108px;
 }


.main {
    background-color: #353535;
}

.main-all {
    margin-top: 400px;
    display: flex;
    max-width: 1018px;
    width: 100%;
}

.main-left {
    height: auto;
    width: 100%;
    max-width: 320px;
    padding: 30px;
    background-color: #fff;
    color: #000;
}

.static {
    font-size: 40px;
    line-height: 40px;
}

.static-info {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin: 50px 0;
}

.static-false {
    font-size: 20px;
    opacity: .3;
}

.statistics {
display: flex;
flex-wrap: wrap;
}


.numbers-item {
    font-size: 20px;
}

.numbers-block {
    padding: 30px 0;
    width: 50%;
    max-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 72px;
}

.numbers-block:nth-child(1), .numbers-block:nth-child(4) {
    background-color: #404040;
}

.numbers-block:nth-child(2) {
    background-color: #4e4e4e;
}

.description {
    max-width: 1018px;
    width: 100%;
    margin: 80px 0;
}

.description-wrapper {
    display: flex;
}

.description-wrapper_foot {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: #f7f4f1;
    font-size: 20px;
}

.description-wrapper_foot:nth-child(2) {
    border-left: 1px solid #494949;
    border-right: 1px solid #494949;
}

.description-text {

}

.description-title {
    margin: 30px 6px 23px;
    font-size: 30px;
    text-transform: uppercase;
}